{
    "SITE": "PUT YOUR CHARGEBEE SITE HERE",
    "SITE_API_KEY": "PUT YOUR CHARGEBEE SITE API KEY HERE",
    "HOOK_KEY": "CHARGEBEE WEBHOOK SECRET PASSED DOWN THROUGH THE URL QUERY",
    "BASIC_AUTH_USERNAME": "USERNAME FOR CHARGEBEE WEBHOOK",
    "BASIC_AUTH_PASSWORD": "PASSWORD FOR CHARGEBEE WEBHOOK",
    "DB_CONNECTION_STRING": "postgres://user:password@hostname:port/dbname",
    "HOOK_PORT": "3030",
    "ALLOWED_ORIGIN": "List of allowed hostnames separated by commas"
}